
.main-container {
    background-color: gainsboro;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}
.projects {
    height: 100%;
    width: 25%;
    border: 1px solid black;
    padding: 1em;
}

.input-field {
    display: flex;
    padding-top: 1em;
}

.new-project {
    background-color: black;
    color: white;
    margin: 0;
    width: 40%;
    transform: translateX(-155%);
}

.active-btn {
    transform: translateX(0);
    transition: 150ms ease-in;
}

.new-project-input {
    transform: scaleX(0);
    width: 60%;
    margin: 0;
}

.active-input {
    transform: scaleX(1);
    transition: 150ms ease-in;
}

.list {
    padding: 0.5em 0;
}

.project-item {
    padding: 3px 0;
    cursor: pointer;
    border-bottom: 1px solid white;
    width: 50%;
    transition: 150ms ease-out;
}

.project-item:hover {
    border-bottom: 1px solid black;

}

.display-board {
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    background-color: white;
    border: 1px solid white;
    transition: 200ms ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-board {
    border: 1px solid red;
    transform: scaleX(1);
    transition: 200ms ease-out;
}

.wrapper-field {
    display: flex;
    justify-content: space-between;
}

.add-todo-form {
    border: 1px solid rosybrown;
    padding: 0.5em;
    width: 37%;
}

.input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}

.text-input {
    width: 100%;
    
}

.area-input {
    resize: none;
    width: calc(100% - 1em);
}

.notes-input {
    width: 85%;

}   

.notes-label {
    width: calc(15% - 1.1em);
    display: inline-block;
}

.submit-field {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.submit {
    border: 1px solid blue;
    background-color: white;
    font-weight: 600;
    padding: 5px 15px;
}

.board {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    background-color: red;
}

.todo-card {
    border: 1px solid black;
}

.todo {
    width: 50%; 
    background-color: green;
    display: flex;
    justify-content: center;
}